.boxDoados{
    min-width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h2{
        padding-top: 30px;
        height: 100px;
    }

}

.boxBooks{
    width: 85vw;
    min-height: 60vh;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    article{
        border: solid 2px #005695;
        width: 230px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
    }
    
}

@media(max-width: 760px){

}